.allDecol {
  background-image: url("../assets/wallDecol.jpg");
  background-size: cover;
  height: 67.5em;
}

.anim2 {
  width: 34em;
  height: 56em;
  display: flex;
  position: relative;
  top: -1em;
  left: 3em;
}
