.allAnim {
  display: block;
  background-image: url(../assets/sky.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
}

.anim1 {
  display: flex;
  width: 20%;
  position: relative;
  left: 48em;
}

.enterNaz {
  display: flex;
}

.nasa-logo {
  display: flex;
  top: 73%;
  right: 83em;
  position: absolute;
  width: 10em;
  left: 55em;
}

.Jigsaw-Block {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background: #000000;
  top: 23em;
  width: auto;
}

/* <img src={redButton} alt='' className='nasa-logo' /> */
